@use '../../scss/globalVariables.scss';

.projectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(35, 35, 45);
    border-radius: globalVariables.$borderRadius;
    margin: 4px 30px;
}